@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body{
    background-color: #2b2b2b;
}
.container{
    --clr:#0f0;
    position: relative;
    top:100px;
    height:100px;
    width:100%;
    display:flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.cloud{
    position: relative;
    width:300px;
    z-index: 100;
    filter: drop-shadow(0 0 35px var(--clr));
}
h2{
    position: absolute;
    left:50%;
    background-color:var(--clr);
    font-size: 2em;
    font-weight: 400;
    transform: translateX(-50%) ;
    white-space: nowrap;
    color: black;
    padding: 0 10px;
    border-radius: 10px;
    margin: 0;
}

h2::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    background-color:var(--clr);
    top: -115px;
    left: 50%;
    border-radius: 100px;
    transform: translateX(-50%) ;
}
h2::after{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-color:var(--clr);
    box-shadow: 120px -30px 0 10px var(--clr);
    border-radius: 50%;
    top: -150px;
    left: 25px;
}
.drop{
    position: absolute;
    height: 20px;
    color: var(--clr);
    top: 60px;
    line-height: 20px;
    transform-origin: bottom;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{
        transform: translateY(0) scaleY(0);
        transform-origin: top;
    }
    10%{
        transform: translateY(0) scaleY(0.25);
        transform-origin: top;
    }
    20%{
        transform: translateY(0) scaleY(1);
    }
    70%{
        transform: translateY(300px) scaleY(1);
        transform-origin: bottom;
    }
    80%{
        transform: translateY(300px) scaleY(1);
        transform-origin: bottom;
    }
    100%{
        transform: translateY(300px) scaleY(0);
        transform-origin: bottom;
        text-shadow: -180px 0 0 var(--clr), 180px 0 0 var(--clr);

    }
}
.container{
    animation: animateColor 5s linear infinite;
}
@keyframes animateColor {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}